OPENAI_API_KEY=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
CHROMA_HOST=20.195.43.211
CHROMA_PORT=8000
CHROMA_USE_SSL=false
HOST=0.0.0.0
PORT=8000
ALLOWED_ORIGINS=http://localhost:8000,http://localhost:3000